.parallax-container {
    height: 250px;
}
.tabs .tab a.have {
    color: #00897b;
}

.ask {
  height:330px;
}

.ask .btn{
  position: absolute;
  top: 660px;
  left:47%;
}

.modal {
  top:5%;
  min-height: 75%;
}

table tr td {
  padding: 10px 5px 10px 5px
}
